#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skilltitle{
    font-size:2.5rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}


.skilldesc{
    font-weight: 600;
    font-size:0.85rem;
    max-width: 65rem;
    padding: 0 2rem;
}

.skillbars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    
}

.skillbar{
    display: flex;
    font-size: 0.85rem;
    font-weight: 600;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;

}

.skillbar img{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}




@media screen and (max-width:480px){
    .skillbartxt>p{
        font-size: 3vw   ;
    }    
    .skillbar img{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillbartxt>h2{
        font-size: 5vw;
    }
}