
#intro{
    height: calc(100vh - 4rem); 
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;    
    position: relative; 
    background-color: transparent;
}

.bg{
    filter: brightness(45%);
    filter: contrast(135%);
    filter:drop-shadow(100%);
    position: absolute;
    top: 3rem;
    height: 80vh;
    z-index: 2;
    right: 0;
    object-fit: cover;
}

.introcont{
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
}

.hello{
    font-size: 1.75rem;
    font-weight: 600;
    background: transparent;
}

.introname{
    background-image: 
    linear-gradient(90deg, black, aqua);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.introtxt{
    font-weight:600;
    background: transparent;
}


.intropara{
    font-size:medium;
    font-weight:600;
    background: transparent;
}

.btn{
    background-color: black;
    border: none;
    margin: 1rem 1.75rem;
    padding: 0.75rem 1rem;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
}


@media screen  and (max-width:840px){
    .bg{
        right: -30vw;
        /* z-index: -2; */
        display: none;
        
    }


    .introcont{
        position: relative;
        top: -5rem;
        background-color: transparent;
    }
    .hello{
        font-size: 1.5rem;
        font-weight: 600;
    }
    

    .introtxt{
        font-size: 1.75rem;        
    }
    
    
    .intropara{
        font-size: small;
    }
    


} 



@media screen  and (max-width:480px){
    .bg{
        top: 8rem;
        right: -20vw;
    }

    .introcont{
        position: relative;
        top: -5rem;
        background-color: transparent;
        right: 2rem;
    }
    .hello{
        font-size: 1.25rem;
        font-weight: 600;
    }
    

    .introtxt{
        font-size: 1.5rem;        
    }
    
    
    .intropara{
        font-size: small;
    }
} 